//varibles 
$background-color:aliceblue;
$base-font:sans-serif;
$margin-left:50px;
$padding:10px;
//base css
/* Quiz styles */

@mixin border($border:2px, $border-radius:20px) {
    border: $border solid  #064277;
    border-radius: $border-radius;
    }

header {@include border;
    margin: 10px auto;
    padding: $padding;
    background-color: $background-color;
    
}

body {
    width: 600px;
    margin: auto;
    font:{
        family:$base-font;
        size: 1em;
        style:oblique;
    }
    background-color: #dadadb
}


h1 {
    color:#58a0e0;
}

#content {@include border;
    margin: 10px auto;
    padding: $padding;
    background-color: $background-color;
}

#list{@include border;
    background-color: $background-color;
}

h2 {
    color: #064277;
}

h3 {
    margin-left: $margin-left;
    color:#58a0e0
}

ul{
    margin-left: $margin-left;
}

p{
    font:{
        family: serif;
        style:normal;
    }
}

.samplepara {@include border(3px, 5px);
    padding: $padding;
    background-color: white;
}

footer {@include border;
    margin: 10px auto;
    padding: $padding;
    background-color: $background-color;
}

#footer {
    font:{
        size: .75em;
        style:italic;
        weight: bold;
    }
    color: #064277;
    text-align: center;
}


